#popularTitle h2,
#newTitle h2 {
  font-size: 3rem;
  color: antiquewhite;
  font-weight: bolder;
  letter-spacing: 0.25rem;
  margin: 0;
  font-family: "Unica One", cursive;
  border-top: 8px double rgba(137, 169, 194, 1);
  border-bottom: 8px double rgba(137, 169, 194, 1);
  padding: 0.25rem;
}

.fixcolor{
    color: #fd4;
}


.card:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

.card-body {
    background-color:  rgba(22, 22, 29, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}

.card-title {
    font-size: 1rem;
    color: antiquewhite;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    flex: 1;
    text-align: center;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  margin: 0.25rem 0;
  flex: 1;
  width: 16rem;
}

.ratings input {
  display: none;
  width: 10rem;
}

.ratings label {
  font-size: 1.5rem;
  font-family: fontAwesome;
  color: antiquewhite;
  padding: 0.2rem;
  position: relative;
  transition: all 0.2 ease-in;
  text-shadow: 0 3px 6px darkgrey;
}

.rating-score{
    text-align: center;
    font-size: 0.75rem;
    align-self: top;
    padding: 0 0.5rem 0 0;
    flex-direction: column;
    color: rgba(137, 169, 194, 1);
    font-family: "Unica One", cursive;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    margin: 0;
    width: 5rem;
}

.card-comments{
    flex: 1;
    font-size: 0.75rem;
    color: rgba(137, 169, 194, 1);
    font-weight: bold;
    letter-spacing: 0.25rem;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
