/* Login Page Title CSS */
#userLogin h2 {
    font-size: 3rem;
    color: antiquewhite;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    margin: 0;
    font-family: "Unica One", cursive;
    border-top: 4px solid rgba(137, 169, 194, 1);
    border-bottom: 4px solid rgba(137, 169, 194, 1);
}

/* Login Form CSS */
#loginContainer {
    width: auto;
    height: auto;
    background-color: rgba(22, 22, 29, 0.9);
}

label{
    display: flex;
    font-size: 1.25rem;
    color: antiquewhite;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    font-family: "Unica One", cursive;
}

.form-group {
    justify-content: space-between;
}

small {
  color: antiquewhite;
  font-weight: bolder;
  letter-spacing: 0.25rem;
  margin: 0;
  font-family: "Unica One", cursive;
}

i{
    font-family: fontAwesome;
    font-style: normal;
}