body {
    margin: 0;
    padding: 0;
    outline: 0;
}


#navbar a{
    font-size: 2vh;
    color:black;
}

#searchLabel{
    font-size: 1.25vh;
    text-transform: uppercase;
}

#seachBar input{
    padding: 2vh 3vh;
}

#menu {
    background-color:none;
    box-shadow: 0 6px 8px rgba(0,0,0,0.25);
    width: 100%;
    list-style:none;
    padding: 0;
    height: auto;
    flex-wrap: wrap;
}

#menu li{
    width: auto;
    text-align: center;
    background-color: antiquewhite;
    padding: 1vh 1vw;
    box-shadow: 0 6px 8px rgba(0,0,0,0.25);
    font-family: Verdana;
    font-size: 1.5vh;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 1vh 1vw;
}
