/* User Registration Page Title CSS */
#register h2 {
    font-size: 3rem;
    color: antiquewhite;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    margin: 0;
    font-family: 'MedievalSharp', cursive;
    border-top: 4px solid rgba(137, 169, 194, 1);
    border-bottom: 4px solid rgba(137, 169, 194, 1);
}

/* User Registration Form CSS */
#registerFormContainer {
    width: auto;
    height: auto;
    background-color: rgba(22, 22, 29, 0.9);
}

label{
    display: flex;
    font-size: 1.25rem;
    color: antiquewhite;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    font-family: 'MedievalSharp', cursive;
}

.form-group {
    justify-content: space-between;
}

.big-checkbox {
    width: 20px;
    height: 20px;
}

#TNC, #mailingList{
    font-size: 1rem;
}

i{
    font-family: fontAwesome;
    font-style: normal;
}
