{% extends 'base.template.html' %}
{% block title%}{{book.name}} Information{%endblock%}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='book_info.css')}}" />
{%endblock%}
{% block script %}{%endblock%}
{%block content%}
<div class="container d-flex flex-column justify-content-center align-items-center mx-auto my-5 text-center" id="infoTitle">  
    <h2>{{book.name}}</h2>
    <h3>Review Information</h3>
</div>
<div class="container d-flex flex-row justify-content-around my-5 flex-wrap">
    <div class="d-flex justify-content-center align-items-center" id="infoCard"> 
        <div class="card flex-shrink-0 m-3" style="width: 18rem;">
            <img class="card-img-top" src="{{book.image}}" style="height: 400px;" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{book.name}}</h5>
                <div class="ratings">
                {%if book.reviews == 5 %}
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                {% elif book.reviews == 4 %}
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                {% elif book.reviews == 3 %}
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                {% elif book.reviews == 2 %}
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                {% elif book.reviews == 1 %}
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                {% endif %}
                    <p class="card-text rating-score">Rating: {{book.reviews}} / 5</p>
                </div>
                <div class="card-comments">
                    <p class="card-text">{{book.comments}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center align-items-center py-5" id="infoBoard">
        <div>
            <div class="d-flex flex-row justify-content-between col-12">
                <div class="row d-flex flex-column col-6 flex-nowrap">
                    <h4 class="py-2">Book Title</h4>
                    <p class="text-center py-3">{{book.name}}</p>
                </div>
                <div class="row d-flex flex-column col-6 flex-nowrap">
                    <h4 class="py-2">Book Category</h4>
                    <p class="text-center py-3">{{book.category}}</p>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between col-12">
                <div class="row d-flex flex-column col-6 flex-nowrap">
                    <h4 class="py-2">Publisher</h4>
                    <p class="text-center py-3">{{book.author}}</p>
                </div>
                <div class="row d-flex flex-column col-6 flex-nowrap">
                    <h4 class="py-2">Release Year</h4>
                    <p class="text-center py-3">{{book.release_date}}</p>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between col-12">
                <div class="row d-flex flex-column col-6 flex-nowrap">
                    <h4 class="py-2">Market Price (Amazon)</h4>
                    <p class="text-center py-3"><a href="{{book.price}}">LINK To Amazon</a></p>
                </div>
                <div class="row d-flex flex-column col-6 flex-nowrap">
                    <h4 class="py-2">Image File</h4>
                    <p class="text-center py-3"><a href="{{book.image}}">LINK To Image</a></p>
                </div>
            </div>
            <div class="row d-flex flex-column align-items-center justify-content-center col-12 flex-nowrap m-0">
                    <h4 class="col-7 m-2 py-2 text-center">User Ratings</h4>
                    <p class="my-2 py-2 text-center">{{book.reviews}} stars /  5 stars</p>
            </div>
            <div class="row d-flex flex-column align-items-center justify-content-center col-12 flex-nowrap mx-0 mt-2">
                    <h4 class="col-7 my-2 py-2 text-center">Reviewer's Comments</h4>
                    <p class="my-2 py-2 text-center">{{book.comments}}</p>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-around mt-5">
                <a href="{{url_for('show_edit_book', book_id=book._id)}}" class="btn btn-info btn-lg col-md-3 mx-2 font-weight-bolder">Edit</a>
                <a href="{{url_for('show_delete_book', book_id=book._id)}}" class="btn btn-danger btn-lg col-md-3 mx-2 font-weight-bolder">Delete</a>
                <a href="{{url_for('show_books_in_category', book_category=book.category)}}" class="btn btn-warning btn-lg col-md-3 mx-2 font-weight-bolder">Go to Category</a>
            </div>
        </div>  
    </div>
</div>  
{% endblock %}