{% extends 'base.template.html'%}
{%block css%}
<style>
#createTitle h2 {
  font-size: 3rem;
  color: antiquewhite;
  font-weight: bolder;
  letter-spacing: 0.25rem;
  margin: 0;
  font-family: "Unica One", cursive;
}

#formContainer {
    width: 50rem;
    height: auto;
    padding: 2rem;
    background-color: rgba(22, 22, 29, 0.9);
}

label{
    display: flex;
    padding: 1rem 1rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
    color: antiquewhite;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    margin: 0;
    font-family: "Unica One", cursive;
}

.form-group {
    justify-content: space-between;
    padding:0 2rem;
}

small {
  color: antiquewhite;
  font-weight: bolder;
  letter-spacing: 0.25rem;
  margin: 0;
  font-family: "Unica One", cursive;
}

#formComments{
    padding: 2rem;
}

#ratings input {
  display: none;
  width: 10rem;
}

#ratings label {
  font-size: 2rem;
  font-family: fontAwesome;
  color: antiquewhite;
  padding: 0 1rem;
  position: relative;
  transition: all 0.2 ease-in;
  text-shadow: 0 3px 6px darkgrey;
}


#ratings input:not(:checked) ~ label:hover,
#ratings input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
}

#ratings input:checked ~ label {
  color: #fd4;
} */

#ratings input#star5-0:checked ~ label {
  color: #fe7;
  text-shadow: 0 3px 6px #952;
}

</style>
{%endblock%}
{%block script%}{%endblock%}
{%block content%}
<div class="container-fluid d-flex justify-content-center mx-auto my-5" id="createTitle">
    <h2> Send in a Review </h2>
</div>
<div class="container" id="formContainer">
    <form method="POST">
        <div class="form-group form-inline row">
            <label for="bookName">Book's Title: </label>
            <input type="text" class="form-control col-7" id="bookName" placeholder="E.g. Dungeons and Dragons 5E PHB" name="bookName" value="{{book.name}}">
        </div>
          <div class="form-group form-inline row">
            <label for="bookCategory">Book's Series: </label>
            <input type="text" class="form-control col-7" id="bookCategory" placeholder="E.g. Dungeons and Dragons / Call of Cthulhu" name="bookCategory" value="{{book.category}}">
        </div>
        <div class="form-group form-inline row">
            <label for="bookAuthor">Book's Company: </label>
            <input type="text" class="form-control col-7" id="bookAuthor" placeholder="E.g. Wizards of the Coast / Chaosium" name="bookAuthor" value="{{book.author}}">
        </div>
        <div class="form-group form-inline row">
            <label for="bookRelease_Date">Publish Year: </label>
            <input type="number" step="1" class="form-control col-7" id="bookRelease_Date" placeholder="YYYY" name="bookRelease_Date" value="{{book.release_date}}">
        </div>
        <div class="form-group form-inline row">
            <label for="bookPrice">Book's Price: </label>
            <input type="text" class="form-control col-7" id="bookPrice" placeholder="CUR $$.$$ format" name="bookPrice" value="{{book.price}}">
        </div>
        <div class="form-group row d-flex flex-column justify-content-center align-items-center mb-0">
            <label for="bookImage">Book Cover Image Web Link: </label>
            <input type="text" class="form-control col-11" id="bookImage" placeholder="Image Size: 600px by 400px .png .jpeg .jp .svg format" name="bookImage" value="{{book.image}}">
        </div>
        <small id="imageHelpBlock" class="form-text text-center m-0">
            If you need a hosting site, try www.cloudinary.com
        </small>
        <div class="d-flex flex-column justify-content-center align-items-center mt-3">
            <label for="ratings">Book Rating: </label>
        </div>
        <div class="form-group row d-flex justify-content-center align-items-center flex-row-reverse" id="ratings">
            {%if book.reviews == 5 %}
                <input type="radio" name="rate" id="star5" value="5" checked><label for="star5" class="fas fa-star"></label>
            {%else %}
                <input type="radio" name="rate" id="star5" value="5"><label for="star5" class="fas fa-star"></label>
            {%endif%}
            {%if book.reviews == 4 %}
                <input type="radio" name="rate" id="star4" value="4" checked><label for="star4" class="fas fa-star"></label>
            {%else %}
                <input type="radio" name="rate" id="star4" value="4"><label for="star4" class="fas fa-star"></label>
            {%endif%}
            {%if book.reviews == 3 %}
                <input type="radio" name="rate" id="star3" value="3" checked><label for="star3" class="fas fa-star"></label>
            {%else %}
                <input type="radio" name="rate" id="star3" value="3"><label for="star3" class="fas fa-star"></label>
            {%endif%}
            {%if book.reviews == 2 %}
                <input type="radio" name="rate" id="star2" value="2" checked><label for="star2" class="fas fa-star"></label>
            {%else %}
                <input type="radio" name="rate" id="star2" value="2"><label for="star2" class="fas fa-star"></label>
            {%endif%}
            {%if book.reviews == 1 %}
                <input type="radio" name="rate" id="star1" value="1" checked><label for="star1" class="fas fa-star"></label>
            {%else %}
                <input type="radio" name="rate" id="star1" value="1"><label for="star1" class="fas fa-star"></label>
            {%endif%}
        </div>
        <div class="form-group row d-flex flex-column justify-content-center align-items-center" id="formComments" >
            <label for="bookComments">Comments: </label>
            <textarea class="form-control col-10" id="bookComments" rows="4" maxlength="300" style="resize: none;" name="bookComments">{{book.comments}}</textarea>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mt-3" id="formSubmit">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
</div>


{%endblock%}