{% extends 'base.template.html'%}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}" />
{% endblock %}

{% block title %} HomePage {% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center mx-auto my-5" id="popularTitle">
    <h2> Most Popular Tabletop RPG Books by Rating </h2>
</div>
<div class="container-fluid d-flex flex-row justify-content-between my-5 flex-wrap">
    {%if books|length > 0%}
        {%for book in top4 %}
            <div class="card flex-shrink-0 m-3" style="width: 18rem;">
                <a href="#"><img class="card-img-top" src="{{book.image}}" style="height: 400px;" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title">{{book.name}}</h5>
                <div class="ratings">
                {%if book.reviews == 5 %}
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                {% elif book.reviews == 4 %}
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                {% elif book.reviews == 3 %}
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                {% elif book.reviews == 2 %}
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                {% elif book.reviews == 1 %}
                    <input type="radio" name="rate" class="star" ><label for="star" class="fas fa-star fixcolor"></label>
                {% endif %}
                    <p class="card-text rating-score">Rating: {{book.reviews}} / 5</p>
                </div>
                <div class="card-comments">
                    <p class="card-text">{{book.comments}}</p>
                </div>
            </div>
            <div>
                <a href="{{url_for('show_edit_book', book_id=book._id)}}" class="btn btn-info">Edit</a>
                <a href="{{url_for('show_delete_book', book_id=book._id)}}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        {%endfor%}
    {%endif%}
</div>       


{% endblock %}