{% extends 'base.template.html'%}
{% block title%}User Log Out{%endblock%}
{%block css%}
<link rel="stylesheet" href="{{url_for('static', filename='logout.css')}}" />
{%endblock%}
{%block script%}
{%endblock%}
{%block content%}
 <div class="container d-flex justify-content-center mx-auto my-5 text-center" id="userLogOut">
    <h2>USER LOGOUT</h2>
</div>
<div class="container mb-5 d-flex flex-column mx-auto flex-wrap justify-content-center align-content-center p-5" id="logOutContainer">
    <label> Are you sure you want to Log Out? </label>
    <form method="POST">
        <div class="d-flex flex-column">
            <input type="submit" class="btn btn-primary btn-lg mx-auto mt-3 col-md-8" value="Log Out">
            <a href="{{url_for('homepage')}}" class="btn btn-small btn-info mx-auto mt-5">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}