{% extends 'base.template.html'%}
{% block title%}User Registration{%endblock%}
{%block css%}
<link rel="stylesheet" href="{{url_for('static', filename='user_registration.css')}}" />
{%endblock%}
{%block script%}
<script type="text/javascript" src="{{ url_for('static', filename='/js/bs4_form_validation.js') }}"></script>
{%endblock%}
{%block content%}
 <div class="container d-flex justify-content-center mx-auto my-5 text-center" id="register">
    <h2>REGISTER NEW USER</h2>
</div>
<div class="container mb-5 d-flex mx-auto flex-wrap justify-content-center align-content-center p-5" id="registerFormContainer">
    <form method="POST" class="needs-validation" novalidate>
        <div class="form-group row" >
            <label for="userName">Enter User Display Name: </label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                </div>
                <input type="text" class="form-control" id="userName" placeholder="User Email" name="userName" required>
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a valid Username!
            </div>
        </div>
        <div class="form-group row" >
            <label for="userEmail">Enter User Email: </label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                </div>
                <input type="text" class="form-control" id="userEmail" placeholder="User Email" name="userEmail" required>
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a valid Email!
            </div>
        </div>
        <div class="form-group row" >
            <label for="userEmail">Enter Password: </label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-lock"></i></div>
                </div>
                <input type="text" class="form-control" id="userPassword" placeholder="User Password" name="userPassword" required>
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a valid Password!
            </div>
        </div>
        <div class="form-check mt-3 mb-1">
            <input class="form-check-input big-checkbox" type="checkbox" value="" id="TNC" name="TNC" required>
            <label class="form-check-label ml-2" for="TNC">
                Accept TAPLETOP SIX Terms and Conditions
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input big-checkbox" type="checkbox" value="" id="mailingList" name="mailingList">
            <label class="form-check-label ml-2" for="mailingList">
                Do you want to recieve our monthly newsletters on recent updates?
            </label>
        </div>
       
        <div class="d-flex flex-column justify-content-center align-items-center mt-5 mx-0" id="formSubmit">
            <input type="submit" class="btn btn-primary btn-lg mx-auto mt-3 col-md-7" value="Register">
        </div>
    </form>
</div>
{% endblock %}