{% extends 'base.template.html' %}
{% block title%}Deleting {{book.name}}{%endblock%}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='delete_book.css')}}" />
{% endblock %}
{% block content %} 
<div class="container d-flex flex-column justify-content-center align-items-center mx-auto my-5 text-center" id="deleteTitle">  
    <h3 style="color: red; background-color: rgba(22, 22, 29, 1);">!!! DELETING !!!</h3>
    <h2>{{book.name}}</h2>
    <h3>Review</h3>
</div>
<div class="container-fluid d-flex flex-row justify-content-center align-align-items-center my-5 flex-wrap">
            <div class="card flex-shrink-0 m-5" style="width: 18rem;">
                <a href="#"><img class="card-img-top" src="{{book.image}}" style="height: 400px;" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title">{{book.name}}</h5>
                <div class="ratings">
                {%if book.reviews == 5 %}
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                {% elif book.reviews == 4 %}
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                {% elif book.reviews == 3 %}
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                {% elif book.reviews == 2 %}
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                {% elif book.reviews == 1 %}
                    <input type="radio" name="rate" class="star" ><label class="fas fa-star fixcolor"></label>
                {% endif %}
                    <p class="card-text rating-score">Rating: {{book.reviews}} / 5</p>
                </div>
                <div class="card-comments">
                    <p class="card-text">{{book.comments}}</p>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <form method="POST">
                <div class="alert alert-danger">
                    <small class="text-center mb-5 mt-0" style="color: red;">Kindly Log In as ORIGINAL POSTER Before Deleting Review!</small>
                    <p> Are you SURE you want to DELETE this {{book.name}} review ? </p>
                    <div class="containter">
                        <a href="{{url_for('show_book_info', book_id=book._id)}}" class="btn btn-success">Cancel</a>
                        <input type="submit" class="btn btn-danger" value="DELETE">
                    </div>
                </div>
            </form>
        </div>
</div>  

{% endblock %}